<% images = (Dir.entries("./app/assets/images/footer") - [".", ".."]).shuffle[0..3] %>
<% header = ["home", "about", "updates", "application", "travel", "contact"] %>

<!DOCTYPE html>
<html>
<head>
  <title>NapiWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='bodywr'>
      <div id='headerbg'>
        <div id='headerbanner'>
          <!--<img src='naist-logo.gif' width=300px/>
          <div id='headertextwr'>
            <div class='headertext' id='a'>Nara Institute of Science and Technology</div>
            <div class='headertext' id='b'>Internship</div>
            
          </div>-->
          <canvas id='canvas' width='487' height='95'></canvas>
        </div>
        <div id='headerbar'>
        
          <ul id='headermenu'>
            <% header.each do |name| %>
              <li class='button'><a href= <%= "./#{name}.html" %> <% if @current == name %> class='current shadow' <% end %>><span> <%= name %> </span></a></li>
            <% end %>
          
          </ul>
        </div>
      </div>
      
      <div id='contentwr'>
        <div id='content'>
          <%= yield %>
        </div>
        <div id='footer'>
          <%= image_tag "footer/#{images[0]}" %>
          <%= image_tag "footer/#{images[1]}" %>
          <%= image_tag "footer/#{images[2]}" %>
        </div>
      </div>
    </div>
    
    
  

</body>
</html>
